@import 'tailwindcss';
@plugin "daisyui" {
  themes: luxury --default;
}

@theme {
  --font-sans: 'Orbitron', sans-serif;
  --font-starwrs: 'Star Wars', sans-serif;
}

:root {
  background: url(./assets/vecteezy_galaxy-stars-in-the-universe.jpg) center/cover fixed;
}

body {
  background: transparent;
}

.slide-bottom-enter-active,
.slide-bottom-leave-active {
  transition: all 0.3s ease;
}

.slide-bottom-enter-from {
  transform: translateY(100%);
  opacity: 0;
}

.slide-bottom-leave-to {
  transform: translateY(100%);
  opacity: 0;
}

.scroll-locked {
  overflow: hidden;
  height: 100vh;
  position: fixed;
  width: 100%;
}
