@import "tailwindcss";
@plugin "daisyui" {
    themes: luxury --default
}

@theme {  
    --font-sans: 'Orbitron', sans-serif;
    --font-starwrs: 'Star Wars', sans-serif;
}

:root{
    background: url(./assets/vecteezy_galaxy-stars-in-the-universe.jpg) center/cover;
}